<div class="search">
    <mat-form-field class="example-full-width" appearance="fill">
        <input type="text"
               placeholder="Search - League 1, League 2"
               aria-label="Number"
               matInput
               name="search"
               [(ngModel)]="searchTerm"
               [matAutocomplete]="auto" (keyup.enter)="onSearch()">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option.name">
            {{option.name }}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>