.logo img{
    width: 60px;
    border-radius: 5px;
}
.containt {
    background-color: lightgray;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
}
.infos{
    margin-left: 20px;
}
.infos ul li{
    list-style-type: none;
}
footer{
    text-align: center;
}